black==22.1.0
Flask==2.1.1
Flask-SQLAlchemy==2.5.1
functions-framework==3.0.0
matplotlib==3.5.1
pandas==1.4.1
pg8000==1.24.1
pylint==2.13.0
requests==2.27.1
scikit-learn==1.0.2
SQLAlchemy==1.4.32
SQLAlchemy-Utils==0.38.2
